/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/DesignTimeBuild
/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/FileContentIndex
/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/v17
/ReplaceSwithUsingStrategyPattern/obj/Debug/net6.0
/ReplaceSwithUsingStrategyPattern/obj
