/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/DesignTimeBuild
/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/FileContentIndex
/ReplaceSwithUsingStrategyPattern/.vs/ReplaceSwithUsingStrategyPattern/v17
/ReplaceSwithUsingStrategyPattern/bin
/ReplaceSwithUsingStrategyPattern/obj
